/* Header ============================ */

/*
  vh - viewport height
  vw - viewport width
*/
header {
  padding: 68px 68px 0;
  margin: 0 0 40vh;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
}




/* Padrão */
header a {
  font-size: 20px;
  color: var(--highlight);
  border-bottom: 2px solid transparent;
  position: relative;
  transition: color .4s ease;
}
header a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  bottom: -2px;
  transition: width .4s ease;
}

/* Transição */
header a:hover {
  color: rgba(0, 0, 0, 1);
}
header a:hover::before {
  width: 100%;
}








@media screen and (max-width: 1000px){
  header {
    padding: 16px 20px 0;
    position: relative;
  }

  header h1 {
    width: 60%;
  }

  header a {
    position: absolute;
    right: 20px;
    top: calc(16px + 24px); /* 24 e a altura da font */
    order: 2;
    width: 95px;
  }
  header a:first-child {
    top: 16px;
  }
}