@import url(css/variables.css);
@import url(css/reset.css);

@import url(css/base.css);

@import url(css/header.css);
@import url(css/works.css);
@import url(css/about.css);

.contact {
  background-color: var(--primary);
  color: var(--secundary);
}

.contact a {
  margin: 0 0 10px;
  width: fit-content;
}

.contact nav {
  margin-top: 40px;
}

.copyright {
  background-color: var(--primary);
  color: var(--secundary);
  padding: 40px 112px 148px;
}

@media screen and (max-width: 1000px){ 
  .copyright {
    padding: 40px 20px;
  }
}